@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  font-family: 'Inter Tight', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: linear-gradient(180deg, #1b1b3a 0%, #070719 100%);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: #fff;
}

h1 {
  font-size: 4.2em;
  line-height: 1.1;
  margin-bottom: 1em;
  text-align: center;
}
h1 {
  font-size: 2.2em;
  line-height: 1.1;
  margin-bottom: 1em;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  background-color: #000;
  border-radius: 20px;
  overflow: hidden;
  padding: 0 0  40px 0;
  width: 300px;
  color: white;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  text-align: center;
  margin-bottom: 0;
}

.card img {
  width: 100%; 
  padding: 0 0  40px 0;
  border-radius: 5%;
  height: auto;
  display: block;

}

.card-content {
  background-color: #000;
  border-radius: 0 0 2px 20px;
  text-align: left;
}

.card-content p {
  margin: 0.5em 0;
  font-size: 0.9em;
  background-color: #000;
}

.card-content p strong {
  font-weight: 600;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 4em;

}
.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 1.5em;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: transform 0.2s;
  margin: 0.5em;
}

.button--save {
  background-color: green;
  color: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 1.5em;
  border: none;
  cursor: pointer;
}

.button--save:hover {
  transform: scale(1.1);
}

.button--next {
  background-color: red;
  color: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 1.5em;
  border: none;
  cursor: pointer;
}

.button--next:hover {
  transform: scale(1.1);
}


.nav-container {
  display: flex;
  justify-content: center;
  gap: 1em;
  margin-top: 1em;
  text-align: left;
}
.nav {
  display: flex;
  justify-content: flex-start;
  padding: 1em 2em;

}

.nav-item {
  padding: 0 0.5rem;
  list-style: none;

}

.nav-link {
  color: #fff;
  text-decoration: none;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1em;
}

.table th,
.table td {
  border: 1px solid #ddd; /* Línea entre las celdas */
  padding: 8px;
  text-align: left;
}

.table th {
  background-color: #333;
  color: rgb(205, 227, 235);
}

.table tr:nth-child(even) {
  background-color: #2b99c8; /* Color de fondo para filas pares */
}

.table tr:hover {
  background-color: #cea05e; /* Color de fondo al pasar el cursor por encima */
}